body{
    color: rgb(247, 186, 94);
    background:rgba(160, 16, 16, 0.781) ;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 100px;

}
header{
    border-bottom: solid 3px rgb(247, 186, 94);
    padding: 20px;
    font-size: 32px;
    color: rgb(247, 186, 94);

}

.chamada{
    background: rgb(160, 16, 16);
    margin-top: 88px;
    margin-bottom: 88px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    front-size: 34px;
}

